* {
  margin: 0;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-weight: 700;
}

.box {
  background-color: black;
  height: 60px;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  margin: 70px 0 120px 0;  
}

.item {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  margin-bottom: 20px;
}

.item p {
  text-align: center;  
}
.item img {
  display: block;
}